@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    color: #101828;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    width: 1280px;
    margin: 40px auto;
}

header {
    position: relative;
}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #d10d4e;
    color: #fff;
    box-shadow: rgba(39, 39, 39, 0.247) 1px 2px 5px;
    transition: background-color 300ms ease;
    transition: transform 300ms ease;

    /* position: relative; */
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    background-color: #e4145a;
    box-shadow: rgba(39, 39, 39, 0.219) 1px 2px 11px;
    transform: scale(1.05);
}

header .shop-cart {
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 16px;
    padding-bottom: 0;
    height: auto;

    width: 450px;
    border-radius: 8px;
    /* min-height: 100px; */
    background-color: #ffffff;
    box-shadow: -1px 0px 35px 0px rgba(0,0,0,0.51);
-webkit-box-shadow: -1px 0px 35px 0px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 0px 35px 0px rgba(0,0,0,0.51);
    z-index: 1000; /*чтобы выдвинуть объект на первый план*/
}

header .shop-cart .empty h2{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
    color: #484A50;
}

header .shop-cart .item {
    width: 100%;
    height: 80px;
    margin-bottom: 16px;
    float: left;
}

header .shop-cart .item img {
    float: left;
    width: 80px;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 4px;
}

header .shop-cart .item h4 {
    color: #101828;
    font-weight: 600;
    font-size: 20px;
    /* float: right; */
}

header .shop-cart .item h2 {
    color: #484A50;
    font-weight: 300;
    font-size: 16px;
}

header .logo {
    font-weight: 700;
    font-size: 20px;
}

header ul.nav { /*float = позиционирования списка справа, list-style: none; = убрать точки у ненумер-го списка */
    float: right;
    list-style: none;

}

header ul.nav li { 
    display: inline; /*в одну строку*/
    margin-left: 28px;
    cursor: pointer;
    transition: opacity 300ms ease; /*плавный переход для opacity*/
}

header ul.nav li:hover {
    opacity: 60%;
}

header .presentation {
    margin: 40px 0;
    background: url('./img/presentation.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #23242763;
    position: relative;
}

header .presentation::after {
    content: 'Товары для вашего дома';
    position: absolute;
    left: 80px;
    top: 120px;
    font-size: 48px;
    font-weight: 800;
    color: aliceblue;
    text-shadow: rgba(39, 39, 39, 0.281) 1px 2px 8px;
}

header .presentation::before {
    content: 'По низким ценам';
    position: absolute;
    left: 80px;
    top: 200px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.856);
    text-shadow: rgba(39, 39, 39, 0.281) 1px 2px 8px;
}

main {
    display: flex; /*расположение всех блоков*/
    width: 100%; /*относительно wrapper*/
    flex-wrap: wrap; /*элементы могут переходить на новые строки*/
    justify-content: space-between;
}

main .item {
    width: 270px;
    height: auto;
    /* margin-bottom: 40px; */
    background-color: #fff;
    padding: 0 16px 16px;
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(39, 39, 39, 0.13) 1px 2px 8px;
    transition: transform 300ms ease;
}

main .item:hover {
    transform: scale(1.007);
    box-shadow: rgba(39, 39, 39, 0.164) 1px 2px 9px;
}

main .item:hover img {
    transform: scale(1.05);
}

main .item img {
    width: 100%;
    height: 200px;
    object-fit: contain; /*картинки адаптируются под размер*/
    border-radius: 10px 10px 0 0;
    transition: transform 300ms ease;
}

main .item img:hover {
    /* transform: scale(1.05); */
}

main h2, main p {
    margin: 4px 0;
    color: #484A50;
}

main p {
    color: #9a9ea5;
    /* width: 80%; */
}

main h4 {
    font-size: 20px;
    padding: 12px 0;
}

main .add-to-cart {
    position: absolute; /*чтобы сделать абсолютную позицию относительно карточки, нужно в КАРТОЧКЕ (item) прописать position: relative*/
    right: 20px;
    bottom: 20px;
    background-color: green;
    width: auto; /*в фигме = hug*/
    height: auto;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    padding: 8px;
    box-shadow: rgba(39, 39, 39, 0.247) 1px 2px 5px;
}

main .add-to-cart:hover {
    box-shadow: rgba(39, 39, 39, 0.164) 1px 2px 9px;
    /* transform:  translateY(-4px);  - перемещение вверх на 4 рх*/
}

footer {
    text-align: center;
    padding: 20px 40px;
}
